.input{
    border:none;
    border-radius: 0%;
    border-bottom: 2px solid #CED4D9;

}

.color{
    color: #3a383c;
    font-weight: 300;
}

.btn-color {
    background-color: #0baaaa;
  }
  .container{
    padding: 8% 10% 10% 10%;
  }
form{
  width: 40%;
  margin: auto;
  margin-top: 70px;
  box-shadow:
  2.8px 3.3px 1.9px rgba(0, 0, 0, 0.018),
  6.5px 7.6px 4.3px rgba(0, 0, 0, 0.026),
  11.7px 13.6px 7.7px rgba(0, 0, 0, 0.032),
  19.4px 22.6px 12.8px rgba(0, 0, 0, 0.038),
  32px 37.3px 21.2px rgba(0, 0, 0, 0.044),
  55.9px 65.2px 37px rgba(0, 0, 0, 0.052),
  121px 141px 80px rgba(0, 0, 0, 0.07)
;
padding:5%;
background: #f7f7f7;
}
input{
  background: none;
}
.btn{
  display: block;
  margin: auto;
  margin-top: 50px;
}
